.banner{
    height: 500px;
    background-image: var(--bgImage);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0,0,0,.83);
    background-attachment: fixed;
    background-blend-mode: darken;
    object-fit: cover;
    object-position: top;
    clip-path: ellipse(90% 90% at 50% 10%) ;
    max-width: 100%;
    overflow: hidden;
}